@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    /* Usamos Inter para el texto normal, Playfair Display para títulos elegantes */
    font-family: 'Inter', sans-serif;
    background-color: #fcfcfc;
    /* Fondo casi blanco/crema */
    color: #3e2723;
    /* Texto principal (Marrón Oscuro / Chocolate) */
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
}

/* Color de acento (Caramelo/Dorado) */
.text-caramel {
    color: #a0522d;
}

.bg-caramel {
    background-color: #a0522d;
}

.hover\:bg-caramel-dark:hover {
    background-color: #8b4513;
}

.focus\:ring-caramel {
    --tw-ring-color: #a0522d;
}

.border-caramel {
    border-color: #a0522d;
}

.hover\:border-caramel:hover {
    border-color: #a0522d;
}

/* Estilos personalizados para focus visible y accesibilidad */
button:focus,
a:focus,
input:focus,
textarea:focus {
    outline: 2px solid #a0522d;
    /* Caramelo brillante para enfoque */
    outline-offset: 2px;
}