<!-- HOME/HERO Section -->
<section class="bg-white py-16 sm:py-32" aria-labelledby="hero-heading">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <article class="text-center">
      <h1 id="hero-heading"
        class="text-6xl sm:text-7xl lg:text-8xl font-extrabold text-caramel leading-tight mb-8">
        BOCATO
      </h1>
      <h2 class="text-5xl sm:text-6xl lg:text-7xl font-extrabold text-stone-900 leading-tight mb-4">
        la dulce tentación
      </h2>
      <p class="text-xl text-stone-600 max-w-4xl mx-auto mb-8">
        - cada bocado, una obra de arte -
      </p>
      <a routerLink="/contacto"
        class="inline-flex items-center justify-center px-8 py-4 border border-transparent text-lg font-medium rounded-full shadow-xl text-white bg-caramel hover:bg-caramel-dark transition duration-300 ease-in-out focus:outline-none focus:ring-4 focus:ring-caramel focus:ring-opacity-50"
        role="button">
        reservas & pedidos
      </a>
    </article>
  </div>
</section>
